:root {
  --clr-primary-200: hsl(34, 49%, 79%);
  --clr-primary-500: hsl(27, 74%, 41%);
  --clr-primary-650: hsl(235, 39%, 24%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-110: hsl(0, 0%, 95%);
  --clr-neutral-300: hsl(0, 0%, 80%);
  --clr-neutral-700: hsl(0, 0%, 20%);
  --clr-text-black: hsl(0, 0%, 0%);
}
body {
  position: relative;
}
main {
  margin: 2rem;
}

.table_wrap {
  max-width: 600px;
  margin: auto;
}

h1 {
  color: var(--clr-neutral-700);
  margin-bottom: 2rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid var(--clr-neutral-300);
  padding: 0.5rem;
  word-break: break-word;
  text-align: center;
  max-width: 150px;
}

th {
  background-color: var(--clr-neutral-700);
  color: var(--clr-neutral-100);
}

td {
  color: var(--clr-neutral-700);
}

td img {
  max-width: 50px;
  height: auto;
}
#scroll-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--clr-neutral-700);
  color: var(--clr-primary-500);
  border-radius: 5px;
  z-index: 1000;
}
