:root {
  --clr-primary-200: hsl(34, 49%, 79%);
  --clr-primary-500: hsl(27, 74%, 41%);
  --clr-primary-650: hsl(235, 39%, 24%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-110: hsl(0, 0%, 95%);
  --clr-neutral-300: hsl(0, 0%, 80%);
  --clr-neutral-700: hsl(0, 0%, 20%);
  --clr-text-black: hsl(0, 0%, 0%);
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: var(--clr-text-black);
}

.flex-group {
  display: flex;
  flex-wrap: wrap;
  color: var(--clr-text-black);
}

i {
  font-size: inherit;
}

.current-page {
  color: var(--clr-primary-500);
}

.main-content {
  display: flex;
  margin: 2rem;
}

.table_wrap {
  flex-grow: 1;
  overflow-x: auto;
  margin-right: 2rem;
}

.side_bar {
  background-color: var(--clr-neutral-110);
  border: 1px solid var(--clr-text-black);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: var(--clr-text-black);
}

.side_bar h2 {
  margin-bottom: 2rem;
}

.side_bar ul {
  list-style-type: none;
  padding: 0;
  color: var(--clr-text-black);
}

.side_bar li {
  margin: 1rem 0;
}

.side_bar label {
  color: var(--clr-text-black);
}

.table_wrap h1 {
  color: var(--clr-text-black);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid var(--clr-neutral-300);
  padding: 0.5rem;
  text-align: left;
}

th {
  background-color: var(--clr-neutral-700);
  color: var(--clr-neutral-100);
}

td {
  color: var(--clr-text-black);
}

td img {
  max-width: 50px;
  height: auto;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }

  .table_wrap {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

/* Specific styles for current page */
.current-page {
  color: var(--clr-primary-500) !important;
  /* Ensure it takes precedence */
}

.current-page i {
  color: var(--clr-primary-500) !important;
  /* Ensure icon color changes as well */
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  background-color: var(--clr-primary-200);
}

a,
input {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }

  .table_wrap {
    order: 2;
    /* Change the order to move it below */
  }

  .side_bar {
    order: 1;
    /* Change the order to move it above */
    margin-top: 2rem;
    /* Add some space between the table_wrap and the side_bar */
  }
}

.next {
  margin-left: 2rem;
}

.pagination {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.pagination button:hover {
  background-color: var(--clr-primary-650);
}