:root {
  --clr-primary-200: hsl(34, 49%, 79%);
  --clr-primary-500: hsl(27, 74%, 41%);
  --clr-primary-650: hsl(235, 39%, 24%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-110: hsl(0, 0%, 95%);
  --clr-neutral-300: hsl(0, 0%, 80%);
  --clr-neutral-700: hsl(0, 0%, 20%);
  --clr-text-black: hsl(0, 0%, 0%);
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: var(--clr-text-black);
}

.flex-group {
  display: flex;
  flex-wrap: wrap;
  color: var(--clr-text-black);
}

i {
  font-size: inherit;
}

.current-page {
  color: var(--clr-primary-500);
}

.main-content {
  display: flex;
  margin: 2rem;
}

.table_wrap {
  flex-grow: 1;
  overflow-x: auto;
  /* margin-right: 2rem; */
}

.table_wrap h1 {
  color: var(--clr-text-black);
}

table {
  /* width: 100%; */
  max-width: 800px;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid var(--clr-neutral-300);
  padding: 0.5rem;
  text-align: left;
}

th {
  background-color: var(--clr-neutral-700);
  color: var(--clr-neutral-100);
}

td {
  color: var(--clr-text-black);
}

td img {
  max-width: 50px;
  height: auto;
}

.table_wrap {
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  margin-right: 0;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }
}
@media (max-width: 450px) {
  .main-content {
    flex-direction: column;
  }
}

.next {
  margin-left: 2rem;
}

.pagination {
  gap: 1rem;
  justify-content: center;
}

/* .pagination button:hover {
  background-color: var(--clr-primary-650);
} */
